.session-discovery-status {
    -unity-font-style: bold;
    -unity-font-definition: resource("Fonts/DINishExpanded-Regular SDF");
    font-size: 18px;
    flex-grow: 1;
    -unity-text-align: middle-left;
}
