root = true

[*.cs]
indent_style = tab
indent_size = 4
tab_width = 4
resharper_check_namespace_highlighting = none

[*.compute]
indent_style = tab
indent_size = 4
tab_width = 4

[*.hlsl]
indent_style = tab
indent_size = 4
tab_width = 4
